<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :slug %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "This is the part of the page URL that makes it unique. If you don't enter anything, the page title will be used instead.") %>
      <%= f.text_field :slug, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :body, "Text" %>
  <i class="instructions">Use the <small>Source</small> tool if you wish to edit the HTML directly.</i>
  <%= f.text_area :body, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :scss, "Custom Styles" %>
  <i class="instructions">This field accepts SCSS or CSS. These styles will only affect elements inside the page container.</i>
  <%= f.text_area :scss, rows: 10, class: "form-control" %>
</div>

<div class="checkbox published <%= "checked" if @page.published? %>">
  <%= f.label :published do %>
    <%= f.check_box :published %> Publish this page?
  <% end %>
</div>