<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :slug %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "This is the part of the page URL that makes it unique. If you don't enter anything, the page title will be used instead.") %>
      <%= f.text_field :slug, class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group page-editor">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <%= link_to "Body", "#body", role: "tab", data: { toggle: "tab" } %>
    </li>
    <li role="presentation">
      <%= link_to "Styles", "#styles", role: "tab", data: { toggle: "tab" } %>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="body">
      <%= f.label :body, class: "sr-only" %>
      <i class="instructions">Use the <small>Source</small> tool if you wish to edit the HTML directly.</i>
      <%= f.text_area :body %>
    </div>

    <div role="tabpanel" class="tab-pane" id="styles">
      <div class="editor-controls">
        <%= link_to "javascript:void(0)", class: "theme-toggle" do %>
          <%= fa_icon("moon-o") %>
          <%= fa_icon("sun-o", class: "hidden") %>
        <% end %>

        <%= link_to fa_icon("arrows-alt"), "javascript:void(0)", class: "full-screen-toggle" %>
      </div>

      <%= f.label :scss, "Styles", class: "sr-only" %>
      <i class="instructions">This field accepts SCSS or CSS. These styles will only affect elements inside the page container.</i>
      <%= f.text_area :scss %>
      <div id="scss-editor" class="editor"></div>
    </div>

    <%= hidden_field_tag :selected_tab, params[:selected_tab] %>
    <%= hidden_field_tag :editor_theme, params[:editor_theme] %>
  </div>
</div>

<div class="checkbox published <%= "checked" if @page.published? %>">
  <%= f.label :published do %>
    <%= f.check_box :published %> Publish this page?
  <% end %>
</div>