<div class="corner-container">
  <%= corner_btn("New Page", new_admin_custom_page_path, remote: false,
    data: { no_turbolink: true }) %>
</div>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th class="hidden-xs">Created</th>
      <th>Title</th>
      <th class="hidden-xs">Slug</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td class="hidden-xs"><%= page.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td class="hidden-xs"><%= page.created_at.to_s(:numeric) %></td>
        <td><%= page.title %></td>
        <td class="hidden-xs"><%= page.slug %></td>
        <td class="edit">
          <%= link_to fa_icon("edit"), polymorphic_path([:admin, page], action: :edit),
            remote: page.is_a?(DefaultPage), data: { no_turbolink: true } %>
          <% if page.is_a?(CustomPage) %>
            <%= link_to fa_icon("trash-o"), admin_custom_page_path(page), method: :delete,
              remote: true, data: { confirm: "Are you sure you want to delete this page?" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= link_to_previous_page @pages, "#{fa_icon("caret-left")} PREV".html_safe,
    param_name: "page_number", params: { controller: "/admin/pages" }, remote: true %>
  <%= link_to_next_page @pages, "NEXT #{fa_icon("caret-right")}".html_safe,
    param_name: "page_number", params: { controller: "/admin/pages" }, remote: true %>
</div>