<div class="corner-container">
  <%= corner_btn("New Page", new_admin_custom_page_path, remote: false,
    data: { no_turbolink: true }) %>
</div>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th class="hidden-xs">Created</th>
      <th>Title</th>
      <th class="hidden-xs">Slug</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td class="hidden-xs"><%= page.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td class="hidden-xs"><%= page.created_at.to_s(:numeric) %></td>
        <td><%= page.title %></td>
        <td class="hidden-xs"><%= page.slug %></td>
        <td class="edit">
          <%= edit_link(page) %>
          <%= delete_link(page, name: "page") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= pagination_links(@pages, params: { controller: "/admin/pages" }, param_name: "page_number") %>
</div>