<div class="corner-container">
  <%= corner_btn("Export Users", admin_subscribers_path(format: :csv)) %>
  <%= corner_btn("New User", new_admin_subscriber_path) %>
</div>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs">Added</th>
      <th class="hidden-xs">Name</th>
      <th>Email Address</th>
      <th class="hidden-xs">Free Content?</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td class="hidden-xs"><%= subscriber.created_at.to_s(:numeric) %></td>
        <td class="hidden-xs"><%= subscriber.full_name %></td>
        <td><%= subscriber.email %></td>
        <td class="hidden-xs"><%= subscriber.can_access_free_content? ? "Yes" : "No" %></td>
        <td class="edit">
          <%= edit_link(subscriber) %>
          <%= delete_link(subscriber, name: "user") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= pagination_links(@subscribers, params: { controller: "/admin/subscribers" }) %>
</div>