<div id="update-password" class="max-width-xs">
  <h2 class="page-title"><%= password_reset_title %></h2>

  <%= form_for @user, url: password_reset_path, method: :patch,
    html: { class: "clearfix" } do |f| %>
    <%= render "shared/validation_errors", resource: @user %>

    <div class="form-group">
      <%= f.label :password, class: "sr-only" %>
      <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: "sr-only" %>
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation",
        class: "form-control" %>
    </div>

    <i>You will use this password for every website hosted on Backline CMS.</i>
    <%= f.submit "Save", class: "btn-main" %>
  <% end %>
</div>