<% if @album.persisted? %>
  <%= corner_btn("Tracklist", admin_album_album_tracks_path(@album),
    class: "btn-blue visible-xs") %>
<% end %>

<h2><%= form_title(@album) %></h2>

<% if @album.new_record? %>
  <%= info_box("You'll be able to add tracks once you save this album.") %>
<% end %>

<%= render "shared/validation_errors", resource: @album %>

<%= form_for [:admin, @album], remote: true do |f| %>
  <div class="row">
    <div class="form-group col-sm-7">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-sm-5">
      <%= f.label :release_date, "Release Date", class: "required" %>
      <div class="date-fields clearfix">
        <%= f.date_select :release_date, { start_year: Date.today.year, end_year: 1970,
          order: [:month, :day, :year] }, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :bandcamp_url, "Bandcamp URL" %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "The URL must begin with http:// or https://.") %>
      <%= f.text_field :bandcamp_url, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :itunes_url, "iTunes URL" %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "The URL must begin with http:// or https://.") %>
      <%= f.text_field :itunes_url, class: "form-control" %>
    </div>
  </div>

  <div class="file-panel">
    <div class="form-group">
      <%= f.label :archive, "Download" %>
      <i class="instructions">Please choose a ZIP file if you wish to make this album available for download. There is a <%= number_to_human_size(Album::ARCHIVE_SIZE_LIMIT) %> size limit.</i>
      <%= file_btn(@album.archive_changed?, "Choose ZIP") %>
      <%= f.file_field :archive %>
      <%= f.hidden_field :archive_cache %>
    </div>

    <% if @album.archive.present? %>
      <div class="file-box">
        <%= file_box_text(@album, :archive) %>

        <div class="checkbox">
          <%= f.label :remove_archive do %>
            <%= f.check_box :remove_archive %> Remove ZIP?
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="image-panel">
    <div class="form-group">
      <%= f.label :cover_art, "Cover Art", class: "required" %>
      <%= file_btn(@album.cover_art_changed?, "Choose Image") %>
      <%= f.file_field :cover_art %>
      <%= f.hidden_field :cover_art_cache %>
    </div>

    <div class="requirements clearfix">
      <%= extension_tags(@album, :cover_art) %>
      <%= dimensions_tag(500, 500) %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= image_tag @album.cover_art.square.url, class: "equal-height" %>
      </div>

      <div class="col-sm-6">
        <%= f.label :notes, class: "neg-margin-top" %>
        <%= f.text_area :notes, rows: 6, class: "form-control equal-height" %>
      </div>
    </div>

    <% if @album.cover_art.present? %>
      <div class="file-box">
        <%= file_box_text(@album, :cover_art) %>
      </div>
    <% end %>
  </div>

  <div class="heading-box sidebar-right">
    <h3>Status</h3>

    <div class="switches">
      <div class="switch-container">
        <%= f.label :published do %>
          <%= f.check_box :published, class: "switch" %> Publish this album?
        <% end %>
      </div>
    </div>
  </div>

  <div class="corner-container">
    <% if @album.persisted? %>
      <%= corner_btn("Tracklist", admin_album_album_tracks_path(@album),
        class: "btn-blue hidden-xs") %>
    <% end %>

    <%= submit_btn %>
    <%= link_to "Cancel", admin_albums_path, remote: true, class: "btn-white" %>
  </div>
<% end %>