<div class="corner-container">
  <%= corner_btn("New Album", new_admin_album_path) %>
</div>

<h2>Albums</h2>

<%= render "shared/flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th class="hidden-xs">Release Date</th>
      <th>Title</th>
      <th class="hidden-xs"></th>
      <th class="hidden-xs"></th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td class="hidden-xs"><%= album.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td class="hidden-xs"><%= album.release_date.to_s(:numeric) %></td>
        <td><%= album.title %></td>
        <td class="hidden-xs">
          <%= link_to "Cover Art", "javascript:void(0)", rel: "album-previews",
            class: "image-preview", data: { fancybox_href: album.cover_art_url } %>
        </td>
        <td class="hidden-xs">
          <%= link_to "Tracklist", admin_album_album_tracks_path(album), remote: true %>
        </td>
        <td class="edit">
          <%= edit_link(album) %>
          <%= delete_link(album) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= pagination_links(@albums, params: { controller: "/admin/albums" }, class: "btn-white") %>
</div>