<%= corner_btn("New Album", new_admin_album_path) %>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th class="hidden-xs">Release Date</th>
      <th>Title</th>
      <th class="hidden-xs"></th>
      <th class="hidden-xs"></th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td class="hidden-xs"><%= album.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td class="hidden-xs"><%= album.release_date.to_s(:numeric) %></td>
        <td><%= album.title %></td>
        <td class="hidden-xs">
          <%= link_to "Cover Art", "javascript:void(0)", rel: "album-previews", class: "image-preview",
            data: { fancybox_href: album.cover_art.square.url } %>
        </td>
        <td class="hidden-xs">
          <%= link_to "Tracklist", admin_album_album_tracks_path(album), remote: true %>
        </td>
        <td class="edit">
          <%= link_to fa_icon("edit"), edit_admin_album_path(album), remote: true %>
          <%= link_to fa_icon("trash-o"), admin_album_path(album), method: :delete, remote: true,
            data: { confirm: "Are you sure you want to delete this album?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= link_to_previous_page @albums, "#{fa_icon("caret-left")} PREV".html_safe,
    params: { controller: "/admin/albums" }, remote: true %>
  <%= link_to_next_page @albums, "NEXT #{fa_icon("caret-right")}".html_safe,
    params: { controller: "/admin/albums" }, remote: true %>
</div>