<%= render "validation_errors", resource: @twitter_handle %>

<%= form_for [:admin, @twitter_handle], remote: true, html: { class: "new-twitter-handle"} do |f| %>
  <div class="form-group">
    <%= f.label :handle, "Username", class: "sr-only" %>
    <%= f.text_field :handle, placeholder: "Username", class: "form-control" %>
  </div>

  <%= f.submit "Add", class: "btn btn-blue" %>
<% end %>