<div class="corner-container">
  <%= corner_btn("Refresh Tweets", admin_refresh_tweets_path, method: :patch) %>
</div>

<h2>Twitter Feed</h2>

<%= render "flash_messages" %>

<%= render "form" %>

<table class="table">
  <tbody>
    <% @twitter_handles.each_with_index do |twitter_handle, index| %>
      <tr>
        <td>
          <span class="number"><%= index + 1 %>.</span>
          <%= twitter_handle.handle %>
        </td>
        <td class="edit">
          <%= delete_link(twitter_handle, icon: "times-circle", name: "username") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>