<%= link_to fa_icon("refresh"), admin_tweets_refresh_path, method: :patch, remote: true,
  class: "btn btn-blue corner-btn" %>

<%= render "flash_messages" %>

<%= render "form" %>

<table class="table">
  <tbody>
    <% @twitter_handles.each_with_index do |twitter_handle, index| %>
      <tr>
        <td>
          <span class="number"><%= index + 1 %>.</span>
          <%= twitter_handle.handle %>
        </td>
        <td class="edit">
          <%= link_to fa_icon("times-circle"), admin_twitter_handle_path(twitter_handle), method: :delete,
            remote: true, data: { confirm: "Are you sure you want to remove this username?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>