<%= render "layouts/flash_messages" %>

<%= form_tag admin_sign_in_path do %>
  <div class="form-group">
    <%= label_tag :password, "What's the password?" %>
    <span class="hint" data-toggle="tooltip" data-placement="left" title="Who does Eli listen to when he drinks at home alone?">
      Need a hint?
    </span>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>

  <%= submit_tag "Submit", class: "btn btn-blue" %>
<% end %>