<% content_for :head do %>
  <%= google_fonts_admin_link_tags %>
  <%= code_font_link_tag %>
  <%= ace_editor_script_tag %>
<% end %>

<h2>Design</h2>

<%= render "shared/validation_errors", resource: @design %>

<%= form_for @design, url: admin_design_path do |f| %>
  <div class="editor-container design-fields">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <%= link_to "Theme", "#theme", role: "tab", data: { toggle: "tab" } %>
      </li>
      <li role="presentation">
        <%= link_to "Images", "#images", role: "tab", data: { toggle: "tab" } %>
      </li>
      <li role="presentation">
        <%= link_to "Styles", "#styles", role: "tab", data: { toggle: "tab" } %>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="theme">
        <div class="form-group">
          <%= f.label :theme, class: "sr-only" %>
          <i class="instructions">Choose a theme to start from, then customize your design.</i>

          <div class="theme-field clearfix">
            <%= f.select :theme, theme_options_for_select(@design.theme), {},
              class: "form-control" %>
            <button type="button" id="apply-theme" class="btn-white">Apply</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <%= render "admin/color_schemes/form_fields", f: f %>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.label :display_font, "Display Font", class: "required" %>

              <div class="font-field clearfix">
                <%= f.collection_select :display_font, GoogleFonts::DISPLAY_FONTS, :to_s, :to_s, {},
                  class: "form-control" %>
                <div id="theme-display-font" class="form-control theme-font"></div>
              </div>
            </div>

            <div id="display-font-sample" class="font-sample">
              <%= display_font_sample_text %>
            </div>

            <div class="form-group">
              <%= f.label :body_font, "Body Font", class: "required" %>

              <div class="font-field clearfix">
                <%= f.collection_select :body_font, GoogleFonts::BODY_FONTS, :to_s, :to_s, {},
                  class: "form-control" %>
                <div id="theme-body-font" class="form-control theme-font"></div>
              </div>
            </div>

            <div id="body-font-sample" class="font-sample">
              <%= body_font_sample_text %>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="images">
        <div class="row">
          <div class="col-sm-6">
            <div class="image-panel">
              <div class="form-group">
                <%= f.label :background_image, "Background" %>
                <%= file_btn(@design.background_image_changed?, "Choose Background") %>
                <%= f.file_field :background_image %>
                <%= f.hidden_field :background_image_cache %>
              </div>

              <div class="requirements clearfix">
                <%= extension_tags(@design, :background_image) %>
                <%= dimensions_tag(1280, 800) %>
              </div>

              <%= image_tag @design.background_image.background.url %>

              <% if @design.background_image.present? %>
                <div class="file-box">
                  <%= file_box_text(@design, :background_image) %>

                  <div class="checkbox">
                    <%= f.label :remove_background_image do %>
                      <%= f.check_box :remove_background_image %> Remove background?
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="image-panel">
              <div class="form-group">
                <%= f.label :banner_image, "Banner" %>
                <%= file_btn(@design.banner_image_changed?, "Choose Banner") %>
                <%= f.file_field :banner_image %>
                <%= f.hidden_field :banner_image_cache %>
              </div>

              <div class="requirements clearfix">
                <%= extension_tags(@design, :banner_image) %>
                <%= dimensions_tag(1280, 300) %>
              </div>

              <%= image_tag @design.banner_image.banner.url %>

              <% if @design.banner_image.present? %>
                <div class="file-box">
                  <%= file_box_text(@design, :banner_image) %>

                  <div class="checkbox">
                    <%= f.label :remove_banner_image do %>
                      <%= f.check_box :remove_banner_image %> Remove banner?
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="image-panel">
              <div class="form-group">
                <%= f.label :logo %>
                <%= file_btn(@design.logo_changed?, "Choose Logo") %>
                <%= f.file_field :logo %>
                <%= f.hidden_field :logo_cache %>
              </div>

              <div class="requirements clearfix">
                <%= extension_tags(@design, :logo) %>
                <%= dimensions_tag(70, 70) %>
              </div>

              <%= image_tag @design.logo.logo.url %>

              <% if @design.logo.present? %>
                <div class="file-box">
                  <%= file_box_text(@design, :logo) %>

                  <div class="checkbox">
                    <%= f.label :remove_logo do %>
                      <%= f.check_box :remove_logo %> Remove logo?
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="image-panel">
              <div class="form-group">
                <%= f.label :favicon %>
                <%= info_tooltip("This is the tiny image that appears in the corner of the browser tab.") %>
                <%= file_btn(@design.favicon_changed?, "Choose Favicon") %>
                <%= f.file_field :favicon %>
                <%= f.hidden_field :favicon_cache %>
              </div>

              <div class="requirements clearfix">
                <%= extension_tags(@design, :favicon) %>
                <%= dimensions_tag(16, 16) %>
              </div>

              <%= image_tag @design.favicon.display.url %>

              <% if @design.favicon.present? %>
                <div class="file-box">
                  <%= file_box_text(@design, :favicon) %>

                  <div class="checkbox">
                    <%= f.label :remove_favicon do %>
                      <%= f.check_box :remove_favicon %> Remove favicon?
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="styles">
        <%= render "editor_controls" %>

        <%= f.label :scss, "Styles", class: "sr-only" %>
        <i class="instructions">This field accepts CSS and SCSS. These styles will be applied to the entire site.</i>
        <%= f.text_area :scss, class: "hidden" %>
        <div id="scss-editor" class="editor"></div>

        <%= render "snippets", grouped_snippets: @style_snippets %>
      </div>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_root_path, class: "btn-white" %>
  </div>
<% end %>

<script type="text/javascript">
  initializeAceEditor("scss-editor", "<%==j @design.scss %>", "scss", "design_scss");
</script>