<%= f.fields_for :color_scheme do |c| %>
  <div class="form-group">
    <%= c.label :background, "Background Color", class: "required" %>

    <div class="color-field clearfix">
      <%= c.text_field :background, class: "form-control" %>
      <div id="theme-background-color" class="form-control theme-color"></div>
    </div>
  </div>

  <div class="form-group">
    <%= c.label :foreground, "Foreground Color", class: "required" %>

    <div class="color-field clearfix">
      <%= c.text_field :foreground, class: "form-control" %>
      <div id="theme-foreground-color" class="form-control theme-color"></div>
    </div>
  </div>

  <div class="form-group">
    <%= c.label :accent, "Accent Color", class: "required" %>

    <div class="color-field clearfix">
      <%= c.text_field :accent, class: "form-control" %>
      <div id="theme-accent-color" class="form-control theme-color"></div>
    </div>
  </div>

  <div class="form-group">
    <%= c.label :text, "Text Color", class: "required" %>

    <div class="color-field clearfix">
      <%= c.text_field :text, class: "form-control" %>
      <div id="theme-text-color" class="form-control theme-color"></div>
    </div>
  </div>
<% end %>