<%= render "validation_errors", resource: @photo %>

<%= form_for [:admin, @photo], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :image, class: "required" %>
    <i class="instructions">Please choose an image in one of these formats: JPG, JPEG, GIF, PNG</i>
    <%= file_btn(@photo.image_changed?, "Choose Image") %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="preview">
    <%= image_tag @photo.image.thumb.url %>
  </div>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: 3, class: "form-control" %>
  </div>

  <div class="checkbox published <%= "checked" if @photo.published? %>">
    <%= f.label :published do %>
      <%= f.check_box :published %> Publish this photo?
    <% end %>
  </div>

  <%= submit_btn %>
  <%= link_to "Cancel", admin_photos_path, remote: true, class: "cancel" %>
<% end %>