<div class="corner-container">
  <%= corner_btn("New Photo", new_admin_photo_path) %>
</div>

<h2>Photos</h2>

<%= render "shared/flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th>Added</th>
      <th class="hidden-xs">Caption</th>
      <th></th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td class="hidden-xs"><%= photo.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td><%= photo.created_at.to_s(:numeric) %></td>
        <td class="hidden-xs"><%= truncate(photo.caption, length: 80, separator: " ") %></td>
        <td>
          <%= link_to "Preview", "javascript:void(0)", rel: "photo-previews", class: "image-preview",
            data: { fancybox_href: photo.image_url, fancybox_title: photo_caption(photo) } %>
        </td>
        <td class="edit">
          <%= edit_link(photo) %>
          <%= delete_link(photo) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= pagination_links(@photos, params: { controller: "/admin/photos" }, class: "btn-white") %>
</div>