<div id="videos" class="fixed-width">
  <h2 class="page-title">Videos</h2>

  <div id="video-carousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <% @videos.each_with_index do |video, index| %>
        <div class="item <%= "active" if index.zero? %>">
          <%= fa_icon("spinner spin") %>

          <%== video.embed %>

          <div class="carousel-caption">
            <h3><%= video.title %></h3>

            <% if video.caption.present? %>
              <p><%= video.caption %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pagination-links clearfix">
    <% if @videos.count > 1 %>
      <%= link_to "#video-carousel", data: { slide: "prev" } do %>
        <%= fa_icon("caret-left") %> PREV
      <% end %>
      <%= link_to "#video-carousel", data: { slide: "next" } do %>
        NEXT <%= fa_icon("caret-right") %>
      <% end %>
    <% end %>
  </div>
</div>