<%= render "shared/validation_errors", resource: @player_track %>

<%= form_for [:admin, @player_track], remote: true, html: { class: "inline" } do |f| %>
  <div class="form-group">
    <%= f.label :title, "Track Title", class: "sr-only" %>
    <%= f.text_field :title, placeholder: "Track Title", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :audio, "Choose MP3", class: "sr-only" %>
    <%= file_btn(@player_track.audio_changed?, "Choose MP3") %>
    <%= f.file_field :audio %>
    <%= f.hidden_field :audio_cache %>

    <%= submit_btn "Add" %>
  </div>
<% end %>