<%= render "flash_messages" %>

<%= render "form" %>

<i class="instructions">Click and drag the tracks to reorder them.</i>

<table class="table sortable" data-url="<%= reorder_admin_player_tracks_path %>">
  <tbody>
    <% @player_tracks.each do |player_track| %>
      <tr id="<%= player_track.id %>">
        <td class="inline-controls" data-audio-url="<%= player_track.audio.url %>">
          <%= fa_stacked_icon "play", base: "circle-thin", class: "play" %>
          <%= fa_stacked_icon "stop", base: "circle-thin", class: "stop" %>
        </td>
        <td>
          <span class="number"><%= player_track.number %>.</span>
          <%= player_track.title %>
        </td>
        <td class="edit">
          <%= delete_link(player_track, icon: "times-circle", name: "track") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "shared/inline_player" %>