<h2><%= form_title(@show) %></h2>

<%= render "shared/validation_errors", resource: @show %>

<%= form_for [:admin, @show], remote: true do |f| %>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :venue_name, "Venue Name", class: "required" %>
      <%= f.text_field :venue_name, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :venue_url, "Venue URL" %>
      <%= info_tooltip("The URL must begin with http:// or https://.") %>
      <%= f.text_field :venue_url, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <%= f.label :date, class: "required" %>
      <%= f.text_field :date, value: @show.date ? @show.date.to_s(:long) : nil,
        class: "form-control datepicker" %>
    </div>

    <div class="form-group col-sm-2">
      <%= f.label :time %>
      <%= f.text_field :time, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :tickets_url, "Tickets URL" %>
      <%= info_tooltip("The URL must begin with http:// or https://.") %>
      <%= f.text_field :tickets_url, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :city, class: "required" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :state, class: "required" %>
      <%= f.text_field :state, class: "form-control" %>
    </div>

    <div class="form-group col-sm-3">
      <%= f.label :zip, "Zip Code" %>
      <%= f.text_field :zip, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, rows: 3, class: "form-control" %>
  </div>

  <div class="heading-box sidebar-right">
    <h3>Options</h3>

    <div class="switches">
      <div class="switch-container">
        <%= f.label :published do %>
          <%= f.check_box :published, class: "switch" %> Publish this show?
        <% end %>
      </div>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_shows_path, remote: true, class: "btn-white" %>
  </div>
<% end %>