<div class="corner-container">
  <%= corner_btn("New Show", new_admin_show_path) %>
</div>

<h2>Shows</h2>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th>Date</th>
      <th>Venue</th>
      <th class="hidden-xs">Location</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td class="hidden-xs"><%= show.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td><%= show.date.to_s(:numeric) %></td>
        <td><%= show.venue_name %></td>
        <td class="hidden-xs"><%= show.location %></td>
        <td class="edit">
          <%= edit_link(show) %>
          <%= delete_link(show) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= pagination_links(@shows, params: { controller: "/admin/shows" }) %>
</div>