<%= render "layouts/alerts" %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th class="published"></th>
      <th class="date">Date</th>
      <th>Venue</th>
      <th class="cover">Cover</th>
      <th class="address">Address</th>
      <th class="edit"></th>
      <th class="delete"></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td class="published"><div class="circle <%= show.published ? "on" : "off" %>"></div></td>
        <td class="date"><%= show.pretty_date %></td>
        <td><%= show.venue %></td>
        <td class="cover"><%= show.cover %></td>
        <td class="address"><%== show.pretty_address %></td>
        <td class="edit"><%= link_to fa_icon("edit"), edit_admin_show_path(show), remote: true, title: "Edit" %></td>
        <td class="edit"><%= link_to fa_icon("trash-o"), admin_show_path(show), method: :delete, remote: true, title: "Delete", data: { confirm: "Are you sure you want to delete this show?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add Show", new_admin_show_path, remote: true, class: "btn btn-pink" %>