<%= link_to fa_icon("plus"), new_admin_show_path, remote: true, class: "btn btn-blue corner-btn" %>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th>Date</th>
      <th>Venue</th>
      <th class="hidden-xs">Location</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td class="hidden-xs"><%= show.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td><%= show.date.to_s(:numeric) %></td>
        <td><%= show.venue_name %></td>
        <td class="hidden-xs"><%= show.location %></td>
        <td class="edit">
          <%= link_to fa_icon("edit"), edit_admin_show_path(show), remote: true %>
          <%= link_to fa_icon("trash-o"), admin_show_path(show), method: :delete, remote: true,
            data: { confirm: "Are you sure you want to delete this show?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= link_to_previous_page @shows, "#{fa_icon("caret-left")} PREV".html_safe,
    params: { controller: "/admin/shows" }, remote: true %>
  <%= link_to_next_page @shows, "NEXT #{fa_icon("caret-right")}".html_safe,
    params: { controller: "/admin/shows" }, remote: true %>
</div>