<% content_for :head do %>
  <%= code_font_link_tag %>
  <%= ckeditor_script_tag %>
  <%= ace_editor_script_tag %>
<% end %>

<h2><%= form_title(@page, "Page") %></h2>

<%= render "shared/validation_errors", resource: @page %>

<%= form_for [:admin, @page], as: :page do |f| %>
  <%= render "form_fields", f: f %>

  <div class="corner-container">
    <%= submit_btn "Preview", name: "preview" %>
    <%= submit_btn %>
    <%= link_to "Cancel", admin_pages_path, remote: true, class: "btn-white" %>
  </div>
<% end %>

<script type="text/javascript">
  // Initialize CKEditor
  var htmlEditor = CKEDITOR.replace("page_html", {
    customConfig: "/ckeditor/config.js",
    contentsCss: ["<%= asset_path('application.css') %>", "/ckeditor/contents.css"]
  });

  // Clicking HTML snippet inserts content into HTML editor
  $("div#contents li.snippet").click(function() {
    var snippetContent = $(this).data("content");
    htmlEditor.insertHtml(snippetContent);
  });

  initializeAceEditor("scss-editor", "<%==j @page.scss %>", "scss", "page_scss");
  initializeAceEditor("javascript-editor", "<%==j @page.javascript %>", "javascript", "page_javascript");
</script>