<div class="row">
  <div class="form-group col-sm-6">
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group col-sm-6">
    <%= f.label :slug %>
    <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
      title: "This is the part of the page URL that makes it unique. If you don't enter anything, the page title will be used instead.") %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>
</div>

<div class="form-group page-editor">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <%= link_to "Contents", "#contents", role: "tab", data: { toggle: "tab" } %>
    </li>
    <li role="presentation">
      <%= link_to "Styles", "#styles", role: "tab", data: { toggle: "tab" } %>
    </li>
    <li role="presentation">
      <%= link_to "Scripts", "#scripts", role: "tab", data: { toggle: "tab" } %>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="contents">
      <%= f.label :html, class: "sr-only" %>
      <i class="instructions">Use the <small>Source</small> tool if you wish to edit the HTML directly.</i>
      <%= f.text_area :html %>

      <%= render "snippets", grouped_snippets: @content_snippets %>
    </div>

    <div role="tabpanel" class="tab-pane" id="styles">
      <%= render "editor_controls" %>

      <%= f.label :scss, "Styles", class: "sr-only" %>
      <i class="instructions">This field accepts CSS and SCSS. These styles will only affect elements inside the page container.</i>
      <%= f.text_area :scss %>
      <div id="scss-editor" class="editor"></div>

      <%= render "snippets", grouped_snippets: @style_snippets %>
    </div>

    <div role="tabpanel" class="tab-pane" id="scripts">
      <%= render "editor_controls" %>

      <%= f.label :javascript, "Scripts", class: "sr-only" %>
      <i class="instructions">This field accepts JavaScript and jQuery. These scripts will run once the page has finished loading.</i>
      <%= f.text_area :javascript %>
      <div id="javascript-editor" class="editor"></div>

      <%= render "snippets", grouped_snippets: @script_snippets %>
    </div>

    <%= hidden_field_tag :selected_tab, params[:selected_tab] %>
    <%= hidden_field_tag :editor_theme, params[:editor_theme] %>
  </div>
</div>

<div class="heading-box sidebar-right">
  <h3>Status</h3>

  <div class="switches">
    <div class="switch-container">
      <%= f.label :standalone do %>
        <%= f.check_box :standalone, class: "switch" %> Use blank layout?
      <% end %>
    </div>

    <div class="switch-container">
      <%= f.label :published do %>
        <%= f.check_box :published, class: "switch" %> Publish this page?
      <% end %>
    </div>
  </div>
</div>