<div id="music">
  <div id="album-carousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h2>American Night</h2>

        <div class="row">
          <div class="col-sm-8 cover">
            <%= image_tag "http://toddfarrell-production.s3.amazonaws.com/images/all-our-heroes-live-in-vans_front.jpg", alt: "album cover" %>
          </div>

          <div class="col-sm-4 details">
            <div class="release-date">Released May 7, 2015</div>

            <ol>
              <li>Roman Candles</li>
              <li>April Fire</li>
              <li>American Night</li>
              <li>Liner Notes</li>
              <li>Just Fine</li>
              <li>Paper Napkins (Bonus)</li>
            </ol>

            <div class="store-links clearfix">
              <%= link_to "http://toddfarrelljr.bandcamp.com/album/all-our-heroes-live-in-vans",
                target: "_blank" do %>
                <div class="button bandcamp"></div>
              <% end %>

              <%= link_to "https://itunes.apple.com/us/album/all-our-heroes-live-in-vans/id735911553?ls=1",
                target: "_blank" do %>
                <div class="button itunes"></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <h2>All Our Heroes Live in Vans</h2>

        <div class="row">
          <div class="col-sm-8 cover">
            <%= image_tag "http://toddfarrell-production.s3.amazonaws.com/images/all-our-heroes-live-in-vans_front.jpg", alt: "album cover" %>
          </div>

          <div class="col-sm-4 details">
            <div class="release-date">Released October 31, 2013</div>

            <ol>
              <li>Year in Review</li>
              <li>Plastic Knives</li>
              <li>Chipper and Bobby</li>
              <li>Pawnshops</li>
              <li>Liner Notes</li>
              <li>Better Men</li>
              <li>If It's Alright By You</li>
              <li>Take It Slow</li>
              <li>My Currency Is Doubt</li>
            </ol>

            <div class="store-links">
              <%= link_to "http://toddfarrelljr.bandcamp.com/album/all-our-heroes-live-in-vans",
                target: "_blank" do %>
                <div class="button bandcamp"></div>
              <% end %>

              <%= link_to "https://itunes.apple.com/us/album/all-our-heroes-live-in-vans/id735911553?ls=1",
                target: "_blank" do %>
                <div class="button itunes"></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-links clearfix">
    <%= link_to "#album-carousel", data: { slide: "prev" } do %>
      <%= fa_icon("caret-left") %> PREV
    <% end %>
    <%= link_to "#album-carousel", data: { slide: "next" } do %>
      NEXT <%= fa_icon("caret-right") %>
    <% end %>
  </div>
</div>