<div id="music" class="fixed-width">
  <div id="album-carousel" class="carousel slide" data-interval="false">
    <div class="carousel-inner" role="listbox">
      <% @albums.each_with_index do |album, index| %>
        <div class="item <%= "active" if index.zero? %>">
          <h2 class="page-title"><%= album.title %></h2>

          <div class="row">
            <div class="col-sm-7 cover-art">
              <%= image_tag album.cover_art.square.url, alt: "cover art" %>
              <% if album.notes.present? %>
                <div class="album-notes"><%= album.notes %></div>
              <% end %>
            </div>

            <div class="col-sm-5 album-details">
              <div class="release-date">Released <%= album.release_date.to_s(:medium) %></div>

              <ol>
                <li>Year in Review</li>
                <li>Plastic Knives</li>
                <li>Chipper and Bobby</li>
                <li>Pawnshops</li>
                <li>Liner Notes</li>
                <li>Better Men</li>
                <li>If It's Alright By You</li>
                <li>Take It Slow</li>
                <li>My Currency Is Doubt</li>
              </ol>

              <div class="store-links">
                <% if album.bandcamp_url.present? %>
                  <%= link_to album.bandcamp_url, target: "_blank" do %>
                    <div class="button bandcamp"></div>
                  <% end %>
                <% end %>

                <% if album.itunes_url.present? %>
                  <%= link_to album.itunes_url, target: "_blank" do %>
                    <div class="button itunes"></div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="pagination-links clearfix">
    <% if @albums.count > 1 %>
      <%= link_to "#album-carousel", data: { slide: "prev" } do %>
        <%= fa_icon("caret-left") %> PREV
      <% end %>
      <%= link_to "#album-carousel", data: { slide: "next" } do %>
        NEXT <%= fa_icon("caret-right") %>
      <% end %>
    <% end %>
  </div>
</div>