<div id="releases">
  <h2>Releases</h2>

  <div id="headline">
    <p>We just released our first full-length record, <em>All Our Heroes Live in Vans</em>, on October 31, 2013.  You can read about it at in any one of these fine publications:</p>
    <ul>
      <li><%= link_to "Papa's Tunes", "http://popatunes.blogspot.com/2013/10/todd-farrell-jr-dirty-birds-all-our.html", target: "_blank" %></li>
      <li><%= link_to "Smoke on the Killing Floor", "http://smokeonthekillingfloor.tumblr.com/post/65612090808/all-our-heroes-live-in-vans-todd-farrell-jr-the", target: "_blank" %></li>
      <li class="row-end"><%= link_to "Bucket Full of Nails", "http://bucketfullofnails.com/2013/10/31/review-todd-farrell-jr-the-dirty-birds-all-our-heroes-live-in-vans/", target: "_blank" %></li>
      <li><%= link_to "Captain's Dead", "http://captainsdead.com/?p=33463", target: "_blank" %></li>
      <li><%= link_to "F**k Yeah Alt Country Boys", "http://fuckyeahaltcountryboys.tumblr.com/post/65616193677/toddfarrelldirtybirdsallourheroesliveinvans", target: "_blank" %></li>
      <li class="row-end"><%= link_to "Music to Die For", "http://musictodiefor.wordpress.com/2013/11/02/band-of-the-month/", target: "_blank" %></li>
    </ul>
  </div>

  <!-- ALL OUR HEROES LIVE IN VANS -->
  <div class="row">
    <div class="col-sm-7">
      <h3>All Our Heroes Live in Vans</h3>
      <ol>
        <li>Year in Review</li>
        <li>Plastic Knives</li>
        <li>Chipper and Bobby</li>
        <li>Pawnshops</li>
        <li>Liner Notes</li>
        <li>Better Men</li>
        <li>If It's Alright By You</li>
        <li>Take It Slow</li>
        <li>My Currency Is Doubt</li>
      </ol>
      <p class="album-links">
        <span>Now Available On:</span>
        <%= link_to "iTunes", "https://itunes.apple.com/us/album/all-our-heroes-live-in-vans/id735911553?ls=1", target: "_blank" %> | <%= link_to "Bandcamp", "http://toddfarrell.bandcamp.com/album/all-our-heroes-live-in-vans", target: "_blank" %>
      </p>
    </div>
    <div class="col-sm-5">
      <a href="javascript:void(0)" data-toggle="modal" data-target="#AOHLIV">
      <%= image_tag "http://toddfarrell.s3.amazonaws.com/images/AOHLIV_small.jpg", alt: "album cover", class: "album-cover-small" %>
      </a>
    </div>
  </div>

  <div class="modal fade" id="AOHLIV" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%= image_tag "http://toddfarrell.s3.amazonaws.com/images/AOHLIV_large.jpg", alt: "album cover", class: "album-cover-large" %>
      </div>
    </div>
  </div>

  <!-- WHERE FAKE COWBOYS GO TO DRINK -->
  <div class="row">
    <div class="col-sm-7">
      <h3>Where Fake Cowboys Go to Drink</h3>
      <ol>
        <li>Take It Slow</li>
        <li>Black Lab (Dog Days)</li>
        <li>Pocketful of Rainchecks</li>
        <li>Ain't My Year</li>
        <li>Hey Julie</li>
        <li>Amanda, I'm Sorry</li>
      </ol>
      <p class="album-links">
        <span>Now Available On:</span>
        <%= link_to "Bandcamp", "http://toddfarrell.bandcamp.com/album/where-fake-cowboys-go-to-drink", target: "_blank" %>
      </p>
    </div>
    <div class="col-sm-5">
      <a href="javascript:void(0)" data-toggle="modal" data-target="#WFCGTD">
        <%= image_tag "http://toddfarrell.s3.amazonaws.com/images/WFCGTD_small.jpg", alt: "album cover", class: "album-cover-small" %>
      </a>
    </div>
  </div>

  <div class="modal fade" id="WFCGTD" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <%= image_tag "http://toddfarrell.s3.amazonaws.com/images/WFCGTD_large.jpg", alt: "album cover", class: "album-cover-large" %>
      </div>
    </div>
  </div>
</div>