<h2>Shows</h2>
<div id="shows">
  <h3 class="title">Upcoming</h3>
  <% if @upcoming_shows.any? %>
    <%= render @upcoming_shows %>
    <% if @more_upcoming_shows.any? %>
      <div class="more">
        <%= render @more_upcoming_shows %>
      </div>
      <%= link_to "View More", "javascript:void(0)", class: "toggle" %>
    <% end %>
  <% else %>
    <p class="no-results">There are no upcoming shows.</p>
  <% end %>

  <h3 class="title">Past</h3>
  <% if @past_shows.any? %>
    <%= render @past_shows %>
    <% if @more_past_shows.any? %>
      <div class="more">
        <%= render @more_past_shows %>
      </div>
      <%= link_to "View More", "javascript:void(0)", class: "toggle" %>
    <% end %>
  <% else %>
    <p class="no-results">There are no past shows.</p>
  <% end %>
</div>