<div>
  <div class="inline-controls" data-audio-url="<%= album_track.audio.url %>">
    <% if album_track.audio.present? %>
      <%= fa_stacked_icon "play", base: "circle-thin", class: "play" %>
      <%= fa_stacked_icon "stop", base: "circle-thin", class: "stop" %>
    <% end %>
  </div>
  <%= album_track.number %>. <%= album_track.title %>
  <% if album_track.downloadable? %>
    <%= link_to fa_icon("download"), download_album_track_path(album_track), class: "download" %>
  <% end %>
</div>