<div class="corner-container">
  <%= corner_btn("New Site", new_super_admin_site_path) %>
</div>

<h2>Sites</h2>

<%= render "shared/flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th class="hidden-xs">Domain</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.title %></td>
        <td class="hidden-xs"><%= root_url(subdomain: site.subdomain) %></td>
        <td class="edit">
          <%= view_site_link(site) %>
          <%= edit_link(site, prefix: :super_admin) %>
          <%= delete_link(site, prefix: :super_admin) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@sites, params: { controller: "/super_admin/sites" }, class: "btn-white") %>