<h2><%= form_title(@page, "Page") %></h2>

<%= render "shared/validation_errors", resource: @page %>

<%= form_for [:admin, @page], as: :page, remote: true do |f| %>
  <%= info_box("You can hide this page by disabling the #{@page.feature.name} feature on the #{link_to "Settings", "javascript:void(0)", class: "settings"} page.") %>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :slug %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "This is the part of the page URL that makes it unique. It can't be edited for default pages.") %>
      <%= f.text_field :slug, disabled: true, class: "form-control" %>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_pages_path, remote: true, class: "btn-white" %>
  </div>
<% end %>