<%= render "shared/validation_errors", resource: @page %>

<%= form_for [:admin, @page], as: :page, remote: true do |f| %>
  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="col-sm-6">
      <%= f.label :slug %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "This is the part of the page URL that makes it unique. It can't be edited for default pages.") %>
      <%= f.text_field :slug, disabled: true, class: "form-control" %>
    </div>
  </div>

  <%= info_box("You can hide this page by disabling the #{@page.feature.name} feature on the #{link_to "Settings", "javascript:void(0)", class: "settings"} page.") %>

  <%= submit_btn %>
  <%= link_to "Cancel", admin_pages_path, remote: true, class: "cancel" %>
<% end %>