<%= render "shared/validation_errors", resource: @page %>

<%= form_for [:admin, @page], as: :page, remote: true do |f| %>
  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :title, class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="col-sm-6">
      <%= f.label :slug %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "This is the part of the page URL that makes it unique. It cannot be edited for this page.") %>
      <%= f.text_field :slug, disabled: true, class: "form-control" %>
    </div>
  </div>

  <div class="checkbox published <%= "checked" if @page.published? %>">
    <%= f.label :published do %>
      <%= f.check_box :published %> Publish this page?
    <% end %>
  </div>

  <%= submit_btn %>
  <%= link_to "Cancel", admin_pages_path, remote: true, class: "cancel" %>
<% end %>