<div class="corner-container">
  <%= corner_btn("New Track", new_admin_album_album_track_path(@album)) %>
  <%= corner_btn("Edit Album", edit_admin_album_path(@album)) %>
</div>

<h2><%= @album.title %></h2>

<%= render "shared/flash_messages" %>

<i class="instructions">Click and drag the tracks to reorder them.</i>

<table class="table sortable border-top" data-url="<%= reorder_admin_album_album_tracks_path(@album) %>">
  <tbody>
    <% @album_tracks.each do |album_track| %>
      <tr id="<%= album_track.id %>">
        <% if streamable_tracks?(@album) %>
          <td class="inline-controls" data-audio-url="<%= album_track.audio.url %>">
            <% if album_track.audio.present? %>
              <%= fa_stacked_icon "play", base: "circle-thin", class: "play" %>
              <%= fa_stacked_icon "stop", base: "circle-thin", class: "stop" %>
            <% end %>
          </td>
        <% end %>
        <td>
          <span class="number"><%= album_track.number %>.</span>
          <%= album_track.title %>
        </td>
        <td class="edit">
          <%= edit_link(@album, album_track) %>
          <%= delete_link(@album, album_track, name: "track") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render "shared/inline_player" %>