<div class="dropdown admin-nav <%= "hidden" if admin_nav_hidden? %>" id="admin-dropdown">
  <button type="button" data-toggle="dropdown" class="dropdown-toggle btn-white">
    <span class="active">Pages</span>
    <%= fa_icon("caret-down") %>
  </button>

  <ul class="dropdown-menu">
    <% admin_nav_links.each_with_index do |(text, url, _icon), index| %>
      <% if admin_section_available?(text) %>
        <li class="<%= "hidden" if index.zero? %>">
          <%= link_to text, url, remote: true %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="heading-box sidebar-left admin-nav <%= "hidden" if admin_nav_hidden? %>"
  id="admin-sidebar">
  <h3>Admin</h3>

  <ul>
    <% admin_nav_links.each do |(text, url, _icon)| %>
      <% if admin_section_available?(text) %>
        <li><%= link_to text, url, remote: true %></li>
      <% end %>
    <% end %>
  </ul>
</div>