<div id="admin" class="fixed-width">
  <nav class="clearfix">
    <%= link_to "Shows", admin_shows_path, remote: true, class: "btn-blue active" %>
    <%= link_to "Albums", admin_albums_path, remote: true, class: "btn-blue" %>
    <%= link_to "Photos", admin_photos_path, remote: true, class: "btn-blue" %>
    <%= link_to "Videos", admin_videos_path, remote: true, class: "btn-blue" %>
    <%= link_to "Audio", admin_player_tracks_path, remote: true, class: "btn-blue" %>
    <%= link_to "Twitter", admin_twitter_handles_path, remote: true, class: "btn-blue" %>
  </nav>
  <div id="admin-content">
    <%= render "admin/shows/shows" %>
  </div>
</div>