<% if grouped_snippets.present? %>
  <div class="sidebar-right snippets-container">
    <label>Snippets</label>
    <%= info_tooltip("Click on a snippet to insert it at the current cursor position. This feature does not work in Source mode.", "top") %>

    <div class="snippets heading-box">
      <% grouped_snippets.each do |extension, snippets| %>
        <h3>
          <%= snippets_heading(extension) %>
          <%= fa_icon("plus-square", class: "hidden-lg") %>
          <%= fa_icon("minus-square", class: "hidden-lg hidden") %>
        </h3>

        <ul>
          <% snippets.each do |snippet| %>
            <li class="snippet" data-target="<%= snippet_target(snippet) %>"
              data-content="<%= snippet.content %>">
              <%= snippet.title %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>