<div class="row show">
  <div class="col-xs-2 text-center">
    <%= formatted_show_date(show) %>
  </div>
  <div class="col-xs-5 <%= "multiline" if show.notes.present? %>">
    <%= venue_link(show) %>
    <% if show.notes.present? %>
      <div class="notes hidden-xs"><%= show.notes %></div>
    <% end %>
  </div>
  <div class="col-xs-5 col-sm-3 location">
    <%= google_maps_link(show) %>
    <%= formatted_show_location(show) %>
  </div>
  <div class="col-sm-2 hidden-xs text-center">
    <%= show.cover %>
  </div>
</div>