<div class="row show">
  <div class="col-xs-2">
    <%= formatted_show_date(show) %>
  </div>
  <div class="col-xs-5 <%= "multiline" if show.notes.present? %>">
    <%= venue_link(show) %>
    <% if show.notes.present? %>
      <div class="notes hidden-xs"><%= show.notes %></div>
    <% end %>
  </div>
  <div class="col-xs-5 location">
    <%= google_maps_link(show) %>
    <%= show.location %>
    <%= tickets_link(show) %>
  </div>
</div>