<h2><%= form_title(@video) %></h2>

<%= render "shared/validation_errors", resource: @video %>

<%= form_for [:admin, @video], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="video-panel">
    <div class="form-group">
      <%= f.label :embed, class: "required" %>
      <i class="instructions">Please copy and paste the embed code from a video hosting site such as YouTube or Vimeo.</i>
      <%= f.text_area :embed, rows: 3, class: "form-control" %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <%= f.label :caption %>
        <%= f.text_area :caption, rows: 3, class: "form-control equal-height" %>
      </div>

      <div class="col-sm-6">
        <%== video_embed_preview(@video, class: "equal-height") %>
      </div>
    </div>
  </div>

  <div class="heading-box sidebar-right">
    <h3>Options</h3>

    <div class="switches">
      <div class="switch-container">
        <%= f.label :published do %>
          <%= f.check_box :published, class: "switch" %> Publish this video?
        <% end %>
      </div>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_videos_path, remote: true, class: "btn-white" %>
  </div>
<% end %>