<h2><%= form_title(@video) %></h2>

<%= render "shared/validation_errors", resource: @video %>

<%= form_for [:admin, @video], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :embed, class: "required" %>
    <i class="instructions">Please copy and paste the embed code from a video hosting site such as YouTube or Vimeo.</i>
    <%= f.text_area :embed, rows: 3, class: "form-control" %>
  </div>

  <% if @video.embed.present? %>
    <div class="preview">
      <%== @video.embed %>
    </div>
  <% end %>

  <div class="status heading-box">
    <h3>Status</h3>

    <div class="switches">
      <div class="switch-container">
        <%= f.label :published do %>
          <%= f.check_box :published, class: "switch" %> Publish this video?
        <% end %>
      </div>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_videos_path, remote: true, class: "btn-white" %>
  </div>
<% end %>