<%= render "shared/validation_errors", resource: @video %>

<%= form_for [:admin, @video], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_area :caption, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :embed, class: "required" %>
    <i class="instructions">Please copy and paste the embed code from a video hosting site such as YouTube or Vimeo.</i>
    <%= f.text_area :embed, rows: 3, class: "form-control" %>
  </div>

  <div class="preview">
    <%== @video.embed %>
  </div>

  <div class="checkbox published <%= "checked" if @video.published? %>">
    <%= f.label :published do %>
      <%= f.check_box :published %> Publish this video?
    <% end %>
  </div>

  <%= submit_btn %>
  <%= link_to "Cancel", admin_videos_path, remote: true, class: "cancel" %>
<% end %>