<div class="corner-container">
  <%= corner_btn("New Video", new_admin_video_path) %>
</div>

<h2>Videos</h2>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th class="hidden-xs"></th>
      <th class="hidden-xs">Added</th>
      <th>Title</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td class="hidden-xs"><%= video.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td class="hidden-xs"><%= video.created_at.to_s(:numeric) %></td>
        <td><%= video.title %></td>
        <td class="edit">
          <%= edit_link(video) %>
          <%= delete_link(video) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= pagination_links(@videos, params: { controller: "/admin/videos" }, class: "btn-white") %>
</div>