<%= link_to fa_icon("plus"), new_admin_video_path, remote: true, class: "btn btn-blue corner-btn" %>

<%= render "flash_messages" %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Added</th>
      <th>Title</th>
      <th class="edit"></th>
    </tr>
  </thead>
  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.published? ? fa_icon("check") : fa_icon("ellipsis-h") %></td>
        <td><%= video.created_at.to_s(:numeric) %></td>
        <td><%= video.title %></td>
        <td class="edit">
          <%= link_to fa_icon("edit"), edit_admin_video_path(video), remote: true %>
          <%= link_to fa_icon("trash-o"), admin_video_path(video), method: :delete, remote: true,
            data: { confirm: "Are you sure you want to delete this video?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-links clearfix">
  <%= link_to_previous_page @videos, "#{fa_icon("caret-left")} PREV".html_safe,
    params: { controller: "/admin/videos" }, remote: true %>
  <%= link_to_next_page @videos, "NEXT #{fa_icon("caret-right")}".html_safe,
    params: { controller: "/admin/videos" }, remote: true %>
</div>