<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= @site.title %></title>
  <%= description_meta_tag(@site) %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700|Oswald", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>