<div id="main-player" class="jp-jplayer"></div>

<div id="main-controls" class="hidden-xs">
  <label>Streaming Now</label>
  <div id="track-title" class="form-control"></div>

  <div class="controls">
    <%= fa_icon("backward", id: "prev") %>
    <%= fa_stacked_icon("play", base: "circle-thin", id: "play") %>
    <%= fa_stacked_icon("pause", base: "circle-thin", id: "pause") %>
    <%= fa_icon("forward", id: "next") %>
  </div>
</div>

<script type="text/javascript">
  var mainTrackUrls = <%== PlayerTrack.audio_urls %>;

  var mainTrackTitles = <%== PlayerTrack.titles %>;

  var currentMainTrack = mainTrackUrls[0];

  // Instantiate jPlayer
  $("div#main-player").jPlayer({
    ready: setMainTrack,
    play: stopOtherPlayers,
    ended: playNextMainTrack,
    swfPath: "/",
    supplied: "mp3",
    cssSelectorAncestor: "div#main-controls",
    cssSelector: {
      play: "span#play",
      pause: "span#pause"
    },
    preload: "auto",
    keyEnabled: true
  });

  $("i#prev").click(playPrevMainTrack);
  $("i#next").click(playNextMainTrack);

  function playPrevMainTrack() {
    currentMainTrack = mainTrackUrls[prevMainTrackIndex()];
    setMainTrack({ play: true });
  }

  function playNextMainTrack() {
    currentMainTrack = mainTrackUrls[nextMainTrackIndex()];
    setMainTrack({ play: true });
  }

  function prevMainTrackIndex() {
    if (currentMainTrackIndex() == 0) {
      return mainTrackUrls.length - 1;
    } else {
      return currentMainTrackIndex() - 1;
    }
  }

  function nextMainTrackIndex() {
    if (currentMainTrackIndex() == mainTrackUrls.length - 1) {
      return 0;
    } else {
      return currentMainTrackIndex() + 1;
    }
  }

  function currentMainTrackIndex() {
    return mainTrackUrls.indexOf(currentMainTrack);
  }

  function setMainTrack(options) {
    $("div#track-title").text(currentMainTrackTitle());

    $("div#main-player").jPlayer("setMedia", {
      mp3: currentMainTrack
    });

    if (options && options.play) {
      $("div#main-player").jPlayer("play");
    }
  }

  function currentMainTrackTitle() {
    return mainTrackTitles[currentMainTrackIndex()];
  }

  function stopOtherPlayers() {
    $("div#inline-player").jPlayer("stop");
    $(".inline-controls").removeClass("playing");
  }
</script>