<% content_for :head do %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Oswald|Open+Sans:300,400,700",
    media: "all" %>
  <%= stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "admin", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>
  <div id="admin" class="max-width-sm">
    <%= render "admin_nav" %>

    <div id="admin-content">
      <%= yield %>
    </div>
  </div>
<% end %>

<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
  <div id="wrapper">
    <%= render "layouts/nav" %>
    <%= render "layouts/main" %>
    <%= render "layouts/footer" %>
  </div>
</body>
</html>