<% content_for :content do %>
  <div id="admin" class="fixed-width">
    <div class="dropdown hidden" id="admin-nav">
      <button type="button" data-toggle="dropdown" class="dropdown-toggle btn-white">
        <span class="active">Pages</span>
        <%= fa_icon("caret-down") %>
      </button>

      <ul class="dropdown-menu">
        <% admin_nav_links.each_with_index do |(text, url), index| %>
          <li class="<%= "hidden" if index.zero? %>">
            <%= link_to text, url, remote: true %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="admin-content">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>