<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Benchmarks</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700|Oswald", media: "all" %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= content_for :head %>
</head>
<body>
  <div id="wrapper">
    <%= render "layouts/nav" %>

    <%= link_to root_path, id: "banner" do %>
      <%= image_tag "http://toddfarrell-production.s3.amazonaws.com/images/banner_website.jpg" %>
    <% end %>

    <div id="main">
      <div class="container">
        <div id="content">
          <%= content_for?(:content) ? content_for(:content) : yield %>
        </div>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </div>

  <%= render "layouts/flash_modal" %>
</body>
</html>