<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
  <div id="wrapper">
    <%= render "layouts/nav" %>

    <%= link_to root_path, id: "banner" do %>
      <%= image_tag "http://toddfarrell-production.s3.amazonaws.com/images/banner_website.jpg" %>
    <% end %>

    <%= render "layouts/main" %>

    <div class="container">
      <%= render "layouts/twitter_stream", tweets: @tweets %>
    </div>

    <div id="newsletter-signup">
      <%= render "subscribers/newsletter_form" %>
    </div>

    <%= render "layouts/footer" %>
  </div>

  <%= render "layouts/flash_modal" %>
</body>
</html>