<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todd Farrell, Jr.</title>
  <link href="http://fonts.googleapis.com/css?family=Vollkorn:700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <header>
    <div class="container">
      <%= render "layouts/nav" %>
      <%= image_tag "band_logo_v8.png", id: "logo" %>
    </div>
  </header>

  <div class="container">
    <div id="main" class="row">
      <div id="content" class="col-sm-7">
        <%= yield %>
      </div>

      <div id="sidebar" class="col-sm-5">
        <%= render "layouts/sidebar" %>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <%= render "layouts/footer" %>
    </div>
  </footer>
</div>

</body>
</html>