<!DOCTYPE html>
<html>
<head>
  <title>Todd Farrell, Jr.</title>
  <link href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav>
    <%= render "layouts/nav" %>
  </nav>
  <div class="row">
    <header class="col-xs-12">
      <div id="my-jplayer" class="jp-jplayer"></div>
      <%= render "layouts/audio_controls" %>
      <%= render "layouts/header" %>
    </header>
  </div>
  <div id="main" class="row">
    <div id="content" class="col-sm-8">
      <%= yield %>
    </div>
    <div id="sidebar" class="col-sm-4">
      <%= render "layouts/sidebar" %>
    </div>
  </div>
  <div class="row">
    <footer class="col-xs-12">
      <%= render "layouts/footer" %>
    </footer>
  </div>
</div>

</body>
</html>