<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Benchmarks</title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700|Oswald"
    rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
  <%= render "layouts/nav" %>

  <div id="banner">
    <div class="container">
      <%= link_to root_path, remote: true do %>
        <%= image_tag "http://toddfarrell-production.s3.amazonaws.com/images/band_logo_v8.png" %>
      <% end %>
    </div>
  </div>

  <div id="main">
    <div class="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render "layouts/footer" %>
</div>

</body>
</html>