<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
  <div id="wrapper">
    <%= render "layouts/nav" %>

    <% if @site.banner_image_url %>
      <%= @site.banner_link ? banner_link_to : banner_tag %>
    <% end %>

    <%= render "layouts/main" %>

    <% if feature_active?(:mailing_list) %>
      <%= render "layouts/newsletter_signup" %>
    <% end %>

    <% if feature_active?(:twitter_feed) %>
      <%= render "layouts/twitter_feed", tweets: @tweets %>
    <% end %>

    <%= render "layouts/footer" %>
  </div>

  <% if feature_active?(:audio_player) %>
    <%= render "layouts/main_player" %>
  <% end %>

  <%= render "layouts/flash_modal" %>
</body>
</html>