<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
  <div id="wrapper">
    <%= render "layouts/nav" %>

    <% if @site.banner_image_url %>
      <div id="banner" class="hidden-xs"></div>
    <% end %>

    <%= render "layouts/main" %>

    <% if feature_activated?(:mailing_list) %>
      <%= render "layouts/newsletter_signup" %>
    <% end %>

    <% if feature_activated?(:twitter_feed) %>
      <div class="container">
        <%= render "layouts/twitter_feed", tweets: @tweets %>
      </div>
    <% end %>

    <%= render "layouts/footer" %>
  </div>

  <%= render "layouts/flash_modal" %>
</body>
</html>