<!DOCTYPE html>
<html>
<head>
  <title>Todd Farrell, Jr.</title>
  <link href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="stripe"></div>
<div class="container">
  <div class="row">
    <nav class="col-sm-2 clearfix">
      <%= render "layouts/nav" %>
    </nav>
    <div id="my-jplayer" class="jp-jplayer"></div>
    <div id="main" class="col-sm-10">
      <%= render "layouts/audio_controls" %>
      <header class="row">
        <%= render "layouts/header" %>
      </header>
      <div class="row">
        <div id="content" class="col-xs-7">
          <%= yield %>
        </div>
        <div id="sidebar" class="col-sm-5">
          <%= render "layouts/sidebar" %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <%= render "layouts/footer" %>
</footer>

</body>
</html>