<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
  <div id="wrapper">
    <%= render "layouts/nav" %>

    <%= link_to home_page_path, id: "banner" do %>
      <%= image_tag "http://toddfarrell-production.s3.amazonaws.com/images/banner_website.jpg" %>
    <% end %>

    <%= render "layouts/main" %>

    <% if feature_activated?(:twitter_feed) %>
      <div class="container">
        <%= render "layouts/twitter_feed", tweets: @tweets %>
      </div>
    <% end %>

    <% if feature_activated?(:mailing_list) %>
      <div id="newsletter-signup">
        <%= render "subscribers/newsletter_form" %>
      </div>
    <% end %>

    <%= render "layouts/footer" %>
  </div>

  <%= render "layouts/flash_modal" %>
</body>
</html>