<h2>Settings</h2>

<%= render "shared/validation_errors", resource: @editable_site %>

<%= form_for @editable_site, url: admin_site_path do |f| %>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :home_page_id, "Home Page", class: "required" %>
      <%= f.select :home_page_id,
        grouped_page_options_for_select(@editable_site.home_page_id, blank_layout: false),
        {}, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :splash_page_id, "Splash Page" %>
      <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
        title: "This is the first page that users see when they come to your site. You can use any page with a blank layout as your splash page. If no page is selected, users are sent directly to the home page.") %>
      <%= f.select :splash_page_id,
        grouped_page_options_for_select(@editable_site.splash_page_id, blank_layout: true),
        { include_blank: "None" }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :title, "Site Title", class: "required" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Site Description" %>
    <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
      title: "This text may be used by search engines like Google to display a preview snippet of your website.") %>
    <%= f.text_area :description, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subscriber_message, "Subscriber Message" %>
    <%= fa_icon("info-circle", data: { toggle: "tooltip", placement: "right" },
      title: "This message is displayed to users when they are asked to provide information about themselves in order to access exclusive content.") %>
    <%= f.text_area :subscriber_message, rows: 3, class: "form-control" %>
  </div>

  <div class="features heading-box">
    <h3>Features</h3>

    <div class="switches clearfix">
      <%= f.collection_check_boxes :feature_ids, Feature.all, :id, :name do |b| %>
        <div class="switch-container">
          <%= b.label do %>
            <%= b.check_box(class: "switch") %> <%= b.text.titleize %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_root_path, class: "btn-white" %>
  </div>
<% end %>