<h2>Settings</h2>

<%= render "shared/validation_errors", resource: @editable_site %>

<%= form_for @editable_site, url: admin_site_path do |f| %>
  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :home_page_id, "Home Page", class: "required" %>
      <%= info_tooltip("You can use any page that does not have a blank layout or exclusive content as your home page.") %>
      <%= f.select :home_page_id, grouped_page_options_for_select(@editable_site.home_page_id,
        blank_layout: false, exclusive_content: false), {}, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :splash_page_id, "Splash Page" %>
      <%= info_tooltip("This is the first page that users see when they come to your site. You can use any page with a blank layout that does not have exclusive content as your splash page. If no page is selected, users are sent directly to the home page.") %>
      <%= f.select :splash_page_id, grouped_page_options_for_select(@editable_site.splash_page_id,
        blank_layout: true, exclusive_content: false), { include_blank: "None" },
        class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-6">
      <%= f.label :title, "Site Title", class: "required" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group col-sm-6">
      <%= f.label :subdomain %>
      <%= info_tooltip("This is placed before .backlinecms.com to form the domain name of your site. If you don't enter anything, the site title will be used instead. Changing this will invalidate any existing cookies for your site and require you to sign in again.") %>
      <%= f.text_field :subdomain, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, "Site Description" %>
    <%= info_tooltip("This text may be used by search engines like Google to display a preview snippet of your site.") %>
    <%= f.text_area :description, rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subscriber_message, "Subscriber Message" %>
    <%= info_tooltip("This message is displayed to users when they are asked to provide information about themselves in order to access exclusive content.") %>
    <%= f.text_area :subscriber_message, rows: 3, class: "form-control" %>
  </div>

  <div class="features heading-box">
    <h3>Features</h3>

    <div class="switches clearfix">
      <%= f.collection_check_boxes :feature_ids, Feature.all, :id, :name do |b| %>
        <div class="switch-container">
          <%= b.label do %>
            <%= b.check_box(class: "switch") %> <%= b.text.titleize %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="corner-container">
    <%= submit_btn %>
    <%= link_to "Cancel", admin_root_path, class: "btn-white" %>
  </div>
<% end %>